<div class="bootstrap-wrapper login">

    <div class="container mt textcenter">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container ">
                    <!-- <img class="img-fluid"
                    style="width: 100px;"
                     src="/assets/password.png" alt=""> -->
                </div>

                <h1 class="textcenter ">
                    Register here !!
                </h1>
                <!--- creating form-->
                <form (ngSubmit)="onSubmit()">

                    <mat-form-field class="full-width">
                        <mat-label>Fullname </mat-label>
                        <input 
                        required 
                        type="text" matInput/>
                      </mat-form-field>

                      <mat-form-field class="full-width">
                        <mat-label>Email </mat-label>
                        <input 
                        required 
                        type="text" matInput/>
                      </mat-form-field>

                    <mat-form-field class="full-width">
                      <mat-label>Username </mat-label>
                      <input 
                      required 
                      type="text" matInput/>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>password </mat-label>
                        <input 
                        [(ngModel)]="credentials.password"
                        name="password"
                        required 
                        type="password" matInput/>
                      </mat-form-field>
                      <div class="container textcenter btnmargin">
                          <button type="submit" mat-raised-button color="primary" class="textcenter">Sign Up</button>
                     
                 </div>
                </form>

        

            </div>
        </div>
    </div>

</div>
