<!-- Section: Testimonials v.2 -->
<section class="text-center my-5">
    <!-- Section heading -->
    <h2 class="review">Review</h2>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="false" [animation]="'super fast slide'" class="testimonial-carousel">
      <!--First slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
              alt="First sample avatar image">
          </div>
          <!--Content-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> What LeBron James is to basketball Olga Malkin is to dentistry. The best at how great she is in making someone who doesn't like the dentist or just afraid she makes you so at ease you wouldn't be afraid of going to the dentist anymore. Her and her team are top notch at what they do.
          </p>
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <!--Review-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star-half" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
              alt="Second sample avatar image">
          </div>
          <!--Content-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> The hygienist was professional, conversational, and helpful when discussing all of my options for optimal dental health. She somehow managed to get lighten of the stains that had plagued my teeth from a powerful mouthwash I had used for my gum disease. Further, my dentist and her assistant (not sure of the technical job title) were so helpful, kind, and caring when it came to prepping for my crown. They were able to answer any questions I had and accommodated my need for breaks during the work they had going on in the back of my mouth. The staff is wonderful, friendly, and helpful
          </p>
          <h4 class="font-weight-bold">Maria Kate</h4>
          <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
          <!--Review-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-slide>
        <div class="testimonial">
          <!--Avatar-->
          <div class="avatar mx-auto mb-4">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
              alt="Third sample avatar image">
          </div>
          <!--Content-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> 
            Hope she will be my Dentist for ever! Great hygienist as well. They actually teach you preventive measures and not so quick to do a root canal will actually have a specialist review before doing it. Just really great!</p>
          <h4 class="font-weight-bold">John Doe</h4>
          <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>
          <!--Review-->
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
          <mdb-icon fas icon="star" class="blue-text"> </mdb-icon>
        </div>
      </mdb-slide>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
  </section>
  <!-- Section: Testimonials v.2 -->