
<div class="background">
        
        <section class="container-fluid appointmentpage">
            <section class="row justify-content-center">
                
                <!-- bootstrap grid system "col for coloumn, sm for small, 6 for size" -->

                <section class="col-12 col-sm-6 col-md-3">
                        <form class="form-container" class="bg">
                        <h2 class="heading">Appoinment Form</h2>
                        <div class="form-group">
                          <label for="exampleInputFristName">First Name</label><br>
                          <input type="firstName" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" placeholder="First Name"><br>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputLastName">Last Name</label><br>
                            <input type="lastName" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" placeholder="Last Name"><br>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputEmail">Email</label><br>
                            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email"><br>
                          </div>
                        <div class="form-group">
                          <label for="exampleInputPhone">Phone</label><br>
                          <input type="Phone" class="form-control" id="exampleInputPhone" placeholder="Phone"><br>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputArrivalDate">Arrival Date</label><br>
                            <input type="arrivalDate" class="form-control" id="exampleInputArrivalDate" placeholder="Arrival Date"><br>
                           -->

                           <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>

                        </div>

                        <div class="form-group">
                            <label for="exampleInputArrivalTime">Arrival Time</label><br>
                            <!-- <input type="arrivalTime" class="form-control" id="exampleInputArrivalTime" placeholder="Arrival Time"><br> -->
                            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
                              min-date="minDate" type="time" id="time" format="hh:mm a" short-time="true" ng-model="time"
                              class=" md-input">
                        </div>
                        
                        <!-- services go here -->
                        <!-- <div class="form-group">
                            <label for="select2"><br>
                                
                              type of Services: </label>
                              <select class="radioNo" name="select2" id="select2">
                                <option>-Select-</option>
                                <option value="0">Dental Cleaning</option>
                                <option value="1">Tooth-colored Cavity Fillings</option>
                                <option value="2">Whitening</option>
                                <option value="3">Emergency</option>
                             
                              </select>
                        </div> -->
    
                        
                            
                            
                       

                       

                    <button mat-raised-button color="primary" class="Confirm">Confirmed</button>
                        
                      </form>
                  </section>

            </section>
      </section>

</div>
    
<!-- 
      Stack the columns on mobile by making one full-width and the other half-width
      <div class="row">
       <div class="col-12 col-md-8">.col-12 .col-md-8</div>
     <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>

  Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop
  <div class="row">
   <div class="col-6 col-md-4">.col-6 .col-md-4</div>
   <div class="col-6 col-md-4">.col-6 .col-md-4</div>
   <div class="col-6 col-md-4">.col-6 .col-md-4</div>
  </div>

Columns are always 50% wide, on mobile and desktop
<div class="row">
  <div class="col-6">.col-6</div>
  <div class="col-6">.col-6</div>
</div> -->